In [66]:
import pandas as pd
import numpy as np

In [67]:
# !pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/han/.local/lib/python3.11/site-packages (1.26.4)

In [68]:
data = pd.read_csv('tokopedia_sepatu2.csv')

In [69]:
# data

In [70]:
data = data.rename(columns={'labelGroups': 'sold'})

In [71]:
import re
# for i in data['sold']:
#     print(i)
df = data

In [72]:
df.shape

(4770, 18)

In [73]:
df.isnull().sum()

id                       0
name                     0
badges                 257
categoryName             0
countReview              0
discountPercentage       0
imageUrl                 0
sold                   397
originalPrice         3179
price                    0
ratingAverage         1171
url                      0
shop.shopId              0
shop.name                0
shop.url                 0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [74]:
# df.fillna(df.mean())
df['badges'].fillna(df['badges'].mode()[0], inplace=True)

/tmp/ipykernel_20823/224227755.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['badges'].fillna(df['badges'].mode()[0], inplace=True)

In [75]:
df.shape

(4770, 18)

In [76]:
df.isnull().sum()

id                       0
name                     0
badges                   0
categoryName             0
countReview              0
discountPercentage       0
imageUrl                 0
sold                   397
originalPrice         3179
price                    0
ratingAverage         1171
url                      0
shop.shopId              0
shop.name                0
shop.url                 0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [77]:
# for i in df['badges']:
#     print (i)

In [78]:
# uj6 = df
# # uj6

In [79]:
# # import re
# def clean_text(text):
#     if isinstance(text, str):
#         # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
#         text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
#         # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
#         text = text.replace(',', '.')
#         # Hapus kata "Diskon" dan "Cashback"
#         text = text.replace('Diskon', '').replace('Cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','')
#         # Hapus kata "rb" dan spasi
#         text = text.replace('rb', '').strip()
#         # Jika terdapat desimal yang dipisahkan oleh koma, tambahkan 0 di belakangnya
#         if ',' in text:
#             parts = text.split('.')
#             if len(parts[-1]) == 1:  # Jika hanya satu digit di belakang koma
#                 parts[-1] += '0'  # Tambahkan 0 di belakangnya
#             text = '.'.join(parts)
#         # Konversi ke lowercase untuk konsistensi
#         text = text.lower()
#     return text

# # Normalisasi data
# uj6['sold'] = uj6['sold'].apply(clean_text)


# Tampilkan DataFrame setelah membersihkan data

In [80]:
df9 = df

In [81]:
def clean_text(text):
    if isinstance(text, str):
        # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
        text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
        # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
        text = text.replace(',', '.')
        # Hapus kata-kata yang tidak diperlukan
        text = text.lower()
        text = text.replace('diskon', '').replace('cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','').replace(' ','').replace('produkterbaru','')
        # text = re.sub(r'(\d+)rb$', lambda x: str((int(x.group(1)) * 1000)), text)
        text = text if text.strip() else np.nan
        # text = re.sub(r'(\d+)rb', lambda x: str(int(x.group(0)) * 1000), text)
        
    return text

In [82]:


# def clean_text(text):
#     if isinstance(text, str):
#         # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
#         text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
#         # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
#         text = text.replace(',', '.')
#         # Hapus kata-kata yang tidak diperlukan
#         text = text.lower()
#         text = text.replace('diskon', '').replace('cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','').replace(' ', '')
#         # Konversi nilai numerik dengan "rb" suffix menjadi integer
#         text = re.sub(r'(\d+)rb$', lambda x: str(int(x.group(1)) * 1000), text)
#     elif isinstance(text, float):
#         # Convert NaN to None
#         text = None if np.isnan(text) else text

#     return text

# # # Normalisasi data
# # df9['sold'] = df9['sold'].apply(clean_text)

# # # Print the modified values
# # for i in df9['sold']:
# #     print(i)

In [83]:
# Normalisasi data
df9['sold'] = df9['sold'].apply(clean_text)

In [84]:
# for i in df9['sold']:
#     print(i)

# type(df9['sold'])

In [85]:
def convert_value(x):
    if pd.isna(x):
        return x
    elif '.' in x:
        value = (float(x.replace('rb', '').replace('.', '')) * 1000)/10
    else:
        value = int(x.replace('rb', '')) * 1000
    return value

df9['sold'] = df9['sold'].apply(convert_value)

In [86]:
# for i in df9['sold']:
#     print(i)

In [87]:
# df_final = df9.drop('imageUrl','shop.url','url',  axis=1)
df_final = df9.drop(columns=['imageUrl', 'shop.url', 'url'])

In [88]:
df_final['price'] = df_final['price'].replace({'Rp': '', '\.': '', ',': ''}, regex=True).astype(float)

In [89]:
# for i in df_final['price']:
#     print(i)

In [90]:
df_final['originalPrice'] = df_final['originalPrice'].replace({'Rp': '', '\.': '', ',': ''}, regex=True).astype(float)

In [91]:
df_final

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shop.shopId,shop.name,shop.city,shop.isOfficial,shop.isPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,NaN,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,NaN,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,12438817710,Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,25,10600.0,142600.0,106950.0,5.0,172107,FazKidz,Jakarta Barat,False,True
4766,7822613028,Sepatu Wakai Anak-anak Slip On Casual Motif Hi...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,0,5000.0,NaN,38000.0,5.0,10242078,Asso shop,Kab. Tangerang,False,True
4767,1757163480,Sepatu anak converse all star classic hi grade...,Power Merchant Pro Badge,Fashion Anak & Bayi,4,0,5000.0,NaN,100000.0,4.8,11033627,SEPATU ANAK2,Jakarta Selatan,False,True
4768,9535706755,Sepatu Adidas Original Anak Bekas Second Preloved,Power Merchant Pro Badge,Fashion Anak & Bayi,0,0,2500.0,NaN,250000.0,NaN,2319135,Limesquash,Jakarta Barat,False,True
4769,897316005,Sepatu anak taekwondo terbaru fans Vulcan jr,Power Merchant Pro Badge,Olahraga,0,0,1000.0,NaN,165000.0,NaN,8747862,MMC_store_id,Kab. Tangerang,False,False

In [92]:
df_final.isnull().sum()

id                       0
name                     0
badges                   0
categoryName             0
countReview              0
discountPercentage       0
sold                   568
originalPrice         3179
price                    0
ratingAverage         1171
shop.shopId              0
shop.name                0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [93]:

# Mengganti nilai NaN dengan 0 pada kolom 'originalPrice' dan 'ratingAverage'
df_final['originalPrice'].fillna(0, inplace=True)
df_final['ratingAverage'].fillna(0, inplace=True)
df_final['sold'].fillna(0, inplace=True)
# Memeriksa apakah perubahan telah dilakukan
print(df_final.isnull().sum())

id                    0
name                  0
badges                0
categoryName          0
countReview           0
discountPercentage    0
sold                  0
originalPrice         0
price                 0
ratingAverage         0
shop.shopId           0
shop.name             0
shop.city             0
shop.isOfficial       0
shop.isPowerBadge     0
dtype: int64

/tmp/ipykernel_20823/1688578235.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['originalPrice'].fillna(0, inplace=True)
/tmp/ipykernel_20823/1688578235.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['ratingAverage'].fillna(0, inplace=True)
/tmp/ipykernel_20823/1688578235.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['sold'].fillna(0, inplace=True)

In [94]:
df_final

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shop.shopId,shop.name,shop.city,shop.isOfficial,shop.isPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,0.0,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,0.0,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,12438817710,Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,25,10600.0,142600.0,106950.0,5.0,172107,FazKidz,Jakarta Barat,False,True
4766,7822613028,Sepatu Wakai Anak-anak Slip On Casual Motif Hi...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,0,5000.0,0.0,38000.0,5.0,10242078,Asso shop,Kab. Tangerang,False,True
4767,1757163480,Sepatu anak converse all star classic hi grade...,Power Merchant Pro Badge,Fashion Anak & Bayi,4,0,5000.0,0.0,100000.0,4.8,11033627,SEPATU ANAK2,Jakarta Selatan,False,True
4768,9535706755,Sepatu Adidas Original Anak Bekas Second Preloved,Power Merchant Pro Badge,Fashion Anak & Bayi,0,0,2500.0,0.0,250000.0,0.0,2319135,Limesquash,Jakarta Barat,False,True
4769,897316005,Sepatu anak taekwondo terbaru fans Vulcan jr,Power Merchant Pro Badge,Olahraga,0,0,1000.0,0.0,165000.0,0.0,8747862,MMC_store_id,Kab. Tangerang,False,False

In [95]:
# rename kolom . 
df_final.rename(columns={'labelGroups': 'sold','shop.shopId': 'shopShopId', 'shop.name': 'shopName', 'shop.city': 'shopCity' , 'shop.isOfficial': 'shopIsOfficial', 'shop.isPowerBadge': 'shopIsPowerBadge'}, inplace=True)

In [96]:
df_final.to_csv('penjualan_sepatu_1.csv', index=False)