In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_penjualan_sepatu_tokopedia.csv')

In [3]:
# df.describe()

In [4]:
df.head()

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shopShopId,shopName,shopCity,shopIsOfficial,shopIsPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,0.0,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,0.0,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True

In [5]:
df.describe()

,id,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shopShopId
count,4.770000e+03,4770.000000,4770.000000,4770.000000,4.770000e+03,4.770000e+03,4770.000000,4.770000e+03
mean,7.275561e+09,77.572327,13.689099,19286.687631,2.134643e+05,3.749419e+05,3.686876,7.262517e+06
std,4.267359e+09,304.051747,23.546361,51796.624051,5.678486e+05,7.001490e+05,2.109150,5.061013e+06
min,1.928798e+07,0.000000,0.000000,0.000000,0.000000e+00,5.000000e+02,0.000000,2.412000e+03
25%,2.662548e+09,1.000000,0.000000,2100.000000,0.000000e+00,1.050000e+05,4.000000,2.530791e+06
50%,7.555987e+09,5.000000,0.000000,6400.000000,0.000000e+00,1.780000e+05,4.900000,6.673471e+06
75%,1.163588e+10,32.000000,20.000000,16575.000000,2.096250e+05,3.850000e+05,5.000000,1.155957e+07
max,1.297877e+10,8503.000000,99.000000,750000.000000,1.143000e+07,1.500000e+07,5.000000,1.719083e+07

In [6]:
df.shape

(4770, 15)

In [7]:
list(df.columns)

['id',
 'name',
 'badges',
 'categoryName',
 'countReview',
 'discountPercentage',
 'sold',
 'originalPrice',
 'price',
 'ratingAverage',
 'shopShopId',
 'shopName',
 'shopCity',
 'shopIsOfficial',
 'shopIsPowerBadge']

In [8]:
# rename kolom . 
# df.rename(columns={'shop.shopId': 'shopShopId', 'shop.name': 'shopName', 'shop.city': 'shopCity' , 'shop.isOfficial': 'shopIsOfficial', 'shop.isPowerBadge': 'shopIsPowerBadge'}, inplace=True)

In [9]:
# df.to_csv('data_penjualan_sepatu_tokopedia.csv', index=False)

In [10]:
# Hitung jumlah penjualan per kategori sepatu
jumlah_penjualan_per_kategori = df.groupby("categoryName").size()

#  Urutkan kategori berdasarkan jumlah penjualan
kategori_terpopuler = jumlah_penjualan_per_kategori.sort_values(ascending=False)
# Tampilkan 5 kategori terpopuler
print("Kategori Sepatu Terpopuler:")
print(kategori_terpopuler.head(4))

Kategori Sepatu Terpopuler:
categoryName
Fashion Pria           1747
Fashion Wanita         1255
Fashion Anak & Bayi    1113
Olahraga                653
dtype: int64

In [11]:
# Hitung rata-rata penjualan sepatu dengan discount dan tanpa diskon
rata_rata_penjualan_diskon = df[df['discountPercentage']> 0]['price'].mean()
rata_rata_penjualan_tanpa_diskon = df[df['discountPercentage'] == 0]['price'].mean()

In [12]:
# Hitung korelasi antara rating dan penjualan
korelasi_rating_penjualan = df["ratingAverage"].corr(df["sold"])

In [13]:
# Tampilkan hasil analisis
print(f"Rata-rata Penjualan Sepatu dengan Diskon: Rp {rata_rata_penjualan_diskon:,.2f}")
print(f"Rata-rata Penjualan Sepatu Tanpa Diskon: Rp {rata_rata_penjualan_tanpa_diskon:,.2f}")
print("Korelasi Rating dan Penjualan:", korelasi_rating_penjualan)

Rata-rata Penjualan Sepatu dengan Diskon: Rp 335,369.72
Rata-rata Penjualan Sepatu Tanpa Diskon: Rp 394,746.66
Korelasi Rating dan Penjualan: 0.07750870916901591

In [14]:
# !pip install statsmodelse