In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('penjualan_sepatu_final.csv')

In [7]:
# df.describe()

In [8]:
df.head()

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shop.shopId,shop.name,shop.city,shop.isOfficial,shop.isPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,0.0,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,0.0,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True