In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
# Membaca file CS
data = pd.read_csv('tokopedia_sepatu2.csv')

In [ ]:
data.shape

In [ ]:
# data.head(20)

In [ ]:
# menghilangkan null
data = data.dropna()

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
# data

In [ ]:
data.info()

In [ ]:
data = data.rename(columns={'labelGroups': 'sold'})

In [ ]:
# # data['sold'].head(len(data))
# for i in range(len(data)):
#     print(data['sold'].iloc[i])

In [ ]:
def extract_numeric_value(text):
    # Mencocokkan pola angka menggunakan regular expression
    match = re.search(r'(\d+([,.]\d+)?)(rb)?', text)
    if match:
        # Mengambil nilai yang cocok
        numeric_value = match.group(1)
        # Menghilangkan koma jika ada
        numeric_value = numeric_value.replace(',', '')
        # Mengonversi ke tipe data numerik
        return float(numeric_value)
    else:
        return None

# Menjalankan fungsi extract_numeric_value pada setiap nilai di kolom 'sold' dan menyimpan hasilnya di kolom baru 'sold_numeric'
data['sold'] = data['sold'].apply(extract_numeric_value)

# Menampilkan dataframe dengan kolom 'sold_numeric'
print(data)

In [ ]:
data

In [ ]:
# data['sold'] = data['sold'].str.extract(r'(\d+)rb').astype(int) * 1000

# # Menampilkan kolom "sold"
# print(data['sold'])

# # Output:
# # 0    5000
# # 1  7900
# # 2  11100
# # ...

# Assuming your data has a 'sold' column
def normalize_sold_column(data):
  """
  This function takes a DataFrame and normalizes the 'sold' column.

  Args:
      data: A Pandas DataFrame.

  Returns:
      A Pandas DataFrame with the 'sold' column normalized.
  """
  # Extract digits followed by "rb" using regex, handle NaN with default of 0
  data['sold'] = pd.to_numeric(data['sold'].str.extract(r'(\d+)rb', expand=False), errors='coerce') * 1000

  # Handle remaining non-numeric values (e.g., "Terlaris") by replacing with NaN
  data['sold'].replace(to_replace=r"[^\d+rb]", method='ffill', inplace=True)

  return data

# Apply the normalization function to your data
data = normalize_sold_column(data.copy())  # Operate on a copy to avoid modifying original data

# Print the normalized 'sold' column
print(data['sold'])

In [ ]:
# data['sold'].head(len(data))
for i in range(len(data)):
    print(data['sold'].iloc[i])

In [ ]:
data

In [ ]:

# # Fungsi untuk mengekstrak angka dan normalisasi
# def extract_and_normalize(text):
#     # Mengekstrak angka dari teks menggunakan ekspresi reguler
#     match = re.search(r'(\d+(?:,\d+)?)rb', text)
#     if match:
#         # Mengambil angka dan menghilangkan koma jika ada
#         value = match.group(1).replace(',', '')
#         # Normalisasi menjadi integer
#         return int(float(value) * 1000)  # dikali 1000 untuk mengubah rb menjadi ribu
#     else:
#         return None

# # Menerapkan fungsi pada kolom 'sold'
# data['sold'] = data['sold'].apply(extract_and_normalize)

# # Menampilkan DataFrame setelah perubahan
# print(data)

In [ ]:
data['imageUrl']

In [ ]:
# Membuat visualisasi data
plt.figure(figsize=(10, 6))
sns.countplot(y='categoryName', data=data, order=data['categoryName'].value_counts().index)
plt.title('Jumlah Produk Berdasarkan Kategori')
plt.xlabel('Jumlah Produk')
plt.ylabel('Kategori')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Kelompokkan data berdasarkan kota penjual dan hitung jumlah produk untuk setiap kota
produk_per_kota = data.groupby('shop.city').size().reset_index(name='Jumlah Produk')

# Membuat visualisasi jumlah produk berdasarkan kota penjual
plt.figure(figsize=(12, 6))
sns.barplot(x='Jumlah Produk', y='shop.city', data=produk_per_kota.sort_values(by='Jumlah Produk', ascending=False))
plt.title('Jumlah Produk Berdasarkan Lokasi Penjual')
plt.xlabel('Jumlah Produk')
plt.ylabel('Kota Penjual')
plt.show()

In [ ]:
# Kelompokkan data berdasarkan rating dan hitung jumlah produk untuk setiap rentang rating
produk_per_rating = data.groupby(pd.cut(data['ratingAverage'], bins=range(0, 6))).size().reset_index(name='Jumlah Produk')

# Membuat visualisasi jumlah produk berdasarkan rating
plt.figure(figsize=(10, 6))
sns.barplot(x='Jumlah Produk', y='ratingAverage', data=produk_per_rating)
plt.title('Jumlah Produk Berdasarkan Rating')
plt.xlabel('Jumlah Produk')
plt.ylabel('Rating Average')
plt.show()

In [ ]:
# Kelompokkan data berdasarkan kategori produk dan hitung rata-rata rating untuk setiap kategori
rating_per_kategori = data.groupby('categoryName')['ratingAverage'].mean().reset_index(name='Rata-rata Rating')

# Membuat visualisasi rata-rata rating berdasarkan kategori produk
plt.figure(figsize=(12, 6))
sns.barplot(x='Rata-rata Rating', y='categoryName', data=rating_per_kategori.sort_values(by='Rata-rata Rating', ascending=False))
plt.title('Rata-rata Rating Berdasarkan Kategori Produk')
plt.xlabel('Rata-rata Rating')
plt.ylabel('Kategori Produk')
plt.show()

In [ ]:
# Kelompokkan data berdasarkan toko dan hitung rata-rata rating untuk setiap toko
rating_per_toko = data.groupby('shop.name')['ratingAverage'].mean().reset_index(name='Rata-rata Rating')

# Membuat visualisasi rata-rata rating berdasarkan toko
plt.figure(figsize=(12, 6))
sns.barplot(x='Rata-rata Rating', y='shop.name', data=rating_per_toko.sort_values(by='Rata-rata Rating', ascending=False))
plt.title('Rata-rata Rating Berdasarkan Toko')
plt.xlabel('Rata-rata Rating')
plt.ylabel('Toko')
plt.show()

In [ ]:
# Sorting the data by price
sorted_data = data.sort_values(by='price')

# Selecting the product with the lowest price
lowest_price_product = sorted_data.iloc[0]

# Selecting the product with the highest price
highest_price_product = sorted_data.iloc[-1]

# Creating a bar plot to display products based on their prices
plt.figure(figsize=(10, 6))
sns.barplot(x='price', y='name', data=sorted_data.head(10))  # Displaying top 10 products with lowest prices
sns.barplot(x='price', y='name', data=sorted_data.tail(10))  # Displaying top 10 products with highest prices

# Adding markers for the lowest and highest priced products
plt.scatter(lowest_price_product['price'], lowest_price_product['name'], color='red', label='Lowest Price')
plt.scatter(highest_price_product['price'], highest_price_product['name'], color='green', label='Highest Price')

# Adding labels and title
plt.title('Products Based on Lowest and Highest Prices')
plt.xlabel('Price')
plt.ylabel('Product Name')
plt.legend()
plt.grid(True)

# Displaying the plot
plt.show()

In [ ]:
data