In [1]:
import pandas as pd
import numpy as np

In [2]:
# !pip install numpy

In [3]:
data = pd.read_csv('data/tokopedia_sepatu2.csv')

In [4]:
# data

In [5]:
data = data.rename(columns={'labelGroups': 'sold'})

In [6]:
import re
# for i in data['sold']:
#     print(i)
df = data

In [7]:
df.shape

(4770, 18)

In [8]:
df.isnull().sum()

id                       0
name                     0
badges                 257
categoryName             0
countReview              0
discountPercentage       0
imageUrl                 0
sold                   397
originalPrice         3179
price                    0
ratingAverage         1171
url                      0
shop.shopId              0
shop.name                0
shop.url                 0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [9]:
# df.fillna(df.mean())
df['badges'].fillna(df['badges'].mode()[0], inplace=True)

/tmp/ipykernel_32814/224227755.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['badges'].fillna(df['badges'].mode()[0], inplace=True)

In [10]:
df.shape

(4770, 18)

In [11]:
df.isnull().sum()

id                       0
name                     0
badges                   0
categoryName             0
countReview              0
discountPercentage       0
imageUrl                 0
sold                   397
originalPrice         3179
price                    0
ratingAverage         1171
url                      0
shop.shopId              0
shop.name                0
shop.url                 0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [12]:
# for i in df['badges']:
#     print (i)

In [13]:
# uj6 = df
# # uj6

In [14]:
# # import re
# def clean_text(text):
#     if isinstance(text, str):
#         # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
#         text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
#         # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
#         text = text.replace(',', '.')
#         # Hapus kata "Diskon" dan "Cashback"
#         text = text.replace('Diskon', '').replace('Cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','')
#         # Hapus kata "rb" dan spasi
#         text = text.replace('rb', '').strip()
#         # Jika terdapat desimal yang dipisahkan oleh koma, tambahkan 0 di belakangnya
#         if ',' in text:
#             parts = text.split('.')
#             if len(parts[-1]) == 1:  # Jika hanya satu digit di belakang koma
#                 parts[-1] += '0'  # Tambahkan 0 di belakangnya
#             text = '.'.join(parts)
#         # Konversi ke lowercase untuk konsistensi
#         text = text.lower()
#     return text

# # Normalisasi data
# uj6['sold'] = uj6['sold'].apply(clean_text)


# Tampilkan DataFrame setelah membersihkan data

In [15]:
df9 = df

In [16]:
def clean_text(text):
    if isinstance(text, str):
        # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
        text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
        # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
        text = text.replace(',', '.')
        # Hapus kata-kata yang tidak diperlukan
        text = text.lower()
        text = text.replace('diskon', '').replace('cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','').replace(' ','').replace('produkterbaru','')
        # text = re.sub(r'(\d+)rb$', lambda x: str((int(x.group(1)) * 1000)), text)
        text = text if text.strip() else np.nan
        # text = re.sub(r'(\d+)rb', lambda x: str(int(x.group(0)) * 1000), text)
        
    return text

In [17]:


# def clean_text(text):
#     if isinstance(text, str):
#         # Hapus karakter non-alfanumerik kecuali koma, titik, dan spasi
#         text = re.sub(r'[^a-zA-Z0-9,. ]', '', text)
#         # Ubah koma (,) menjadi titik (.) untuk format numerik yang konsisten
#         text = text.replace(',', '.')
#         # Hapus kata-kata yang tidak diperlukan
#         text = text.lower()
#         text = text.replace('diskon', '').replace('cashback', '').replace('terjual', '').replace('terlaris', '').replace('preorder', '').replace('grosir', '').replace('ramadan ekstra', '').replace('sisa', '').replace('tokopedia fashion','').replace('beli lokal', '').replace('produk tearu','').replace(' ', '')
#         # Konversi nilai numerik dengan "rb" suffix menjadi integer
#         text = re.sub(r'(\d+)rb$', lambda x: str(int(x.group(1)) * 1000), text)
#     elif isinstance(text, float):
#         # Convert NaN to None
#         text = None if np.isnan(text) else text

#     return text

# # # Normalisasi data
# # df9['sold'] = df9['sold'].apply(clean_text)

# # # Print the modified values
# # for i in df9['sold']:
# #     print(i)

In [18]:
# Normalisasi data
df9['sold'] = df9['sold'].apply(clean_text)

In [19]:
# for i in df9['sold']:
#     print(i)

# type(df9['sold'])

In [20]:
def convert_value(x):
    if pd.isna(x):
        return x
    elif '.' in x:
        value = (float(x.replace('rb', '').replace('.', '')) * 1000)/10
    else:
        value = int(x.replace('rb', '')) * 1000
    return value

df9['sold'] = df9['sold'].apply(convert_value)

In [21]:
# for i in df9['sold']:
#     print(i)

In [22]:
# df_final = df9.drop('imageUrl','shop.url','url',  axis=1)
df_final = df9.drop(columns=['imageUrl', 'shop.url', 'url'])

In [23]:
df_final['price'] = df_final['price'].replace({'Rp': '', '\.': '', ',': ''}, regex=True).astype(float)

In [24]:
# for i in df_final['price']:
#     print(i)

In [25]:
df_final['originalPrice'] = df_final['originalPrice'].replace({'Rp': '', '\.': '', ',': ''}, regex=True).astype(float)

In [26]:
df_final

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shop.shopId,shop.name,shop.city,shop.isOfficial,shop.isPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,NaN,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,NaN,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,12438817710,Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,25,10600.0,142600.0,106950.0,5.0,172107,FazKidz,Jakarta Barat,False,True
4766,7822613028,Sepatu Wakai Anak-anak Slip On Casual Motif Hi...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,0,5000.0,NaN,38000.0,5.0,10242078,Asso shop,Kab. Tangerang,False,True
4767,1757163480,Sepatu anak converse all star classic hi grade...,Power Merchant Pro Badge,Fashion Anak & Bayi,4,0,5000.0,NaN,100000.0,4.8,11033627,SEPATU ANAK2,Jakarta Selatan,False,True
4768,9535706755,Sepatu Adidas Original Anak Bekas Second Preloved,Power Merchant Pro Badge,Fashion Anak & Bayi,0,0,2500.0,NaN,250000.0,NaN,2319135,Limesquash,Jakarta Barat,False,True
4769,897316005,Sepatu anak taekwondo terbaru fans Vulcan jr,Power Merchant Pro Badge,Olahraga,0,0,1000.0,NaN,165000.0,NaN,8747862,MMC_store_id,Kab. Tangerang,False,False

In [27]:
df_final.isnull().sum()

id                       0
name                     0
badges                   0
categoryName             0
countReview              0
discountPercentage       0
sold                   568
originalPrice         3179
price                    0
ratingAverage         1171
shop.shopId              0
shop.name                0
shop.city                0
shop.isOfficial          0
shop.isPowerBadge        0
dtype: int64

In [28]:

# Mengganti nilai NaN dengan 0 pada kolom 'originalPrice' dan 'ratingAverage'
df_final['originalPrice'].fillna(0, inplace=True)
df_final['ratingAverage'].fillna(0, inplace=True)
df_final['sold'].fillna(0, inplace=True)
# Memeriksa apakah perubahan telah dilakukan
print(df_final.isnull().sum())

id                    0
name                  0
badges                0
categoryName          0
countReview           0
discountPercentage    0
sold                  0
originalPrice         0
price                 0
ratingAverage         0
shop.shopId           0
shop.name             0
shop.city             0
shop.isOfficial       0
shop.isPowerBadge     0
dtype: int64

/tmp/ipykernel_32814/1688578235.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['originalPrice'].fillna(0, inplace=True)
/tmp/ipykernel_32814/1688578235.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['ratingAverage'].fillna(0, inplace=True)
/tmp/ipykernel_32814/1688578235.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['sold'].fillna(0, inplace=True)

In [29]:
df_final

,id,name,badges,categoryName,countReview,discountPercentage,sold,originalPrice,price,ratingAverage,shop.shopId,shop.name,shop.city,shop.isOfficial,shop.isPowerBadge
0,11718663582,Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...,Official Store,Fashion Pria,191,50,5000.0,359800.0,179900.0,4.8,6673471,Aerostreet,Kab. Klaten,True,True
1,7320840825,Sepatu Compass Velocity,Power Merchant Pro Badge,Fashion Pria,95,53,7900.0,1699000.0,798000.0,5.0,7098187,Tijoepass,Jakarta Selatan,False,True
2,1997117378,Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...,Power Merchant Pro Badge,Fashion Pria,387,0,2700.0,0.0,139800.0,4.9,533833,redshroom,Jakarta Barat,False,True
3,2005697120,Sepatu Boots AP MEDIC Putih - Sepatu APD Medis,Power Merchant Pro Badge,Fashion Pria,42,0,4300.0,0.0,215000.0,4.9,533833,redshroom,Jakarta Barat,False,True
4,7033293128,SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...,Official Store,Fashion Pria,165,15,11100.0,329000.0,279650.0,4.9,4232765,RANK Sports,Serang,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,12438817710,Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,25,10600.0,142600.0,106950.0,5.0,172107,FazKidz,Jakarta Barat,False,True
4766,7822613028,Sepatu Wakai Anak-anak Slip On Casual Motif Hi...,Power Merchant Pro Badge,Fashion Anak & Bayi,2,0,5000.0,0.0,38000.0,5.0,10242078,Asso shop,Kab. Tangerang,False,True
4767,1757163480,Sepatu anak converse all star classic hi grade...,Power Merchant Pro Badge,Fashion Anak & Bayi,4,0,5000.0,0.0,100000.0,4.8,11033627,SEPATU ANAK2,Jakarta Selatan,False,True
4768,9535706755,Sepatu Adidas Original Anak Bekas Second Preloved,Power Merchant Pro Badge,Fashion Anak & Bayi,0,0,2500.0,0.0,250000.0,0.0,2319135,Limesquash,Jakarta Barat,False,True
4769,897316005,Sepatu anak taekwondo terbaru fans Vulcan jr,Power Merchant Pro Badge,Olahraga,0,0,1000.0,0.0,165000.0,0.0,8747862,MMC_store_id,Kab. Tangerang,False,False

In [30]:
# rename kolom . 
df_final.rename(columns={'labelGroups': 'sold','shop.shopId': 'shopShopId', 'shop.name': 'shopName', 'shop.city': 'shopCity' , 'shop.isOfficial': 'shopIsOfficial', 'shop.isPowerBadge': 'shopIsPowerBadge'}, inplace=True)

In [31]:
df = df_final

list(df.columns)

['id',
 'name',
 'badges',
 'categoryName',
 'countReview',
 'discountPercentage',
 'sold',
 'originalPrice',
 'price',
 'ratingAverage',
 'shopShopId',
 'shopName',
 'shopCity',
 'shopIsOfficial',
 'shopIsPowerBadge']

In [32]:
for i in df:
    print(f"({df['id']},{df['name']},{df['badges']},{df['categoryName']},{df['countReview']},{df['discountPercentage']},{df['sold']},{df['originalPrice']},{df['price']},{df['ratingAverage']},{df['shopShopId']},{df['shopCity']},{df['shopIsOfficial']},{df['shopIsPowerBadge']}")

(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge
3       Power Merchant Pro Badge
4                 Official Store
                  ...
4765    Power Merchant Pro Badge
4766    Power Merchant Pro Badge
4767    Power Merchant Pro Badge
4768    Power Merchant Pro Badge
4769    Power Merchant Pro Badge
Name: badges, Length: 4770, dtype: object,0              Fashion Pria
1              Fashion Pria
2              Fashion Pria
3              Fashion Pria
4              Fashion Pria
               ...
4765    Fashion Anak & Bayi
4766    Fashion Anak & Bayi
4767    Fashion Anak & Bayi
4768    Fashion Anak & Bayi
4769               Olahraga
Name: categoryName, Length: 4770, dtype: object,0       191
1        95
2       387
3        42
4       165
       ...
4765      2
4766      2
4767      4
4768      0
4769      0
Name: countReview, Length: 4770, dtype: int64,0       50
1       53
2        0
3        0
4       15
        ..
4765    25
4766     0
4767     0
4768     0
4769     0
Name: discountPercentage, Length: 4770, dtype: int64,0        5000.0
1        7900.0
2        2700.0
3        4300.0
4       11100.0
         ...
4765    10600.0
4766     5000.0
4767     5000.0
4768     2500.0
4769     1000.0
Name: sold, Length: 4770, dtype: float64,0        359800.0
1       1699000.0
2             0.0
3             0.0
4        329000.0
          ...
4765     142600.0
4766          0.0
4767          0.0
4768          0.0
4769          0.0
Name: originalPrice, Length: 4770, dtype: float64,0       179900.0
1       798000.0
2       139800.0
3       215000.0
4       279650.0
          ...
4765    106950.0
4766     38000.0
4767    100000.0
4768    250000.0
4769    165000.0
Name: price, Length: 4770, dtype: float64,0       4.8
1       5.0
2       4.9
3       4.9
4       4.9
       ...
4765    5.0
4766    5.0
4767    4.8
4768    0.0
4769    0.0
Name: ratingAverage, Length: 4770, dtype: float64,0        6673471
1        7098187
2         533833
3         533833
4        4232765
          ...
4765      172107
4766    10242078
4767    11033627
4768     2319135
4769     8747862
Name: shopShopId, Length: 4770, dtype: int64,0           Kab. Klaten
1       Jakarta Selatan
2         Jakarta Barat
3         Jakarta Barat
4                Serang
             ...
4765      Jakarta Barat
4766     Kab. Tangerang
4767    Jakarta Selatan
4768      Jakarta Barat
4769     Kab. Tangerang
Name: shopCity, Length: 4770, dtype: object,0        True
1       False
2       False
3       False
4        True
        ...
4765    False
4766    False
4767    False
4768    False
4769    False
Name: shopIsOfficial, Length: 4770, dtype: bool,0        True
1        True
2        True
3        True
4        True
        ...
4765     True
4766     True
4767     True
4768     True
4769    False
Name: shopIsPowerBadge, Length: 4770, dtype: bool
(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge
3       Power Merchant Pro Badge
4                 Official Store
                  ...
4765    Power Merchant Pro Badge
4766    Power Merchant Pro Badge
4767    Power Merchant Pro Badge
4768    Power Merchant Pro Badge
4769    Power Merchant Pro Badge
Name: badges, Length: 4770, dtype: object,0              Fashion Pria
1              Fashion Pria
2              Fashion Pria
3              Fashion Pria
4              Fashion Pria
               ...
4765    Fashion Anak & Bayi
4766    Fashion Anak & Bayi
4767    Fashion Anak & Bayi
4768    Fashion Anak & Bayi
4769               Olahraga
Name: categoryName, Length: 4770, dtype: object,0       191
1        95
2       387
3        42
4       165
       ...
4765      2
4766      2
4767      4
4768      0
4769      0
Name: countReview, Length: 4770, dtype: int64,0       50
1       53
2        0
3        0
4       15
        ..
4765    25
4766     0
4767     0
4768     0
4769     0
Name: discountPercentage, Length: 4770, dtype: int64,0        5000.0
1        7900.0
2        2700.0
3        4300.0
4       11100.0
         ...
4765    10600.0
4766     5000.0
4767     5000.0
4768     2500.0
4769     1000.0
Name: sold, Length: 4770, dtype: float64,0        359800.0
1       1699000.0
2             0.0
3             0.0
4        329000.0
          ...
4765     142600.0
4766          0.0
4767          0.0
4768          0.0
4769          0.0
Name: originalPrice, Length: 4770, dtype: float64,0       179900.0
1       798000.0
2       139800.0
3       215000.0
4       279650.0
          ...
4765    106950.0
4766     38000.0
4767    100000.0
4768    250000.0
4769    165000.0
Name: price, Length: 4770, dtype: float64,0       4.8
1       5.0
2       4.9
3       4.9
4       4.9
       ...
4765    5.0
4766    5.0
4767    4.8
4768    0.0
4769    0.0
Name: ratingAverage, Length: 4770, dtype: float64,0        6673471
1        7098187
2         533833
3         533833
4        4232765
          ...
4765      172107
4766    10242078
4767    11033627
4768     2319135
4769     8747862
Name: shopShopId, Length: 4770, dtype: int64,0           Kab. Klaten
1       Jakarta Selatan
2         Jakarta Barat
3         Jakarta Barat
4                Serang
             ...
4765      Jakarta Barat
4766     Kab. Tangerang
4767    Jakarta Selatan
4768      Jakarta Barat
4769     Kab. Tangerang
Name: shopCity, Length: 4770, dtype: object,0        True
1       False
2       False
3       False
4        True
        ...
4765    False
4766    False
4767    False
4768    False
4769    False
Name: shopIsOfficial, Length: 4770, dtype: bool,0        True
1        True
2        True
3        True
4        True
        ...
4765     True
4766     True
4767     True
4768     True
4769    False
Name: shopIsPowerBadge, Length: 4770, dtype: bool
(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge
3       Power Merchant Pro Badge
4                 Official Store
                  ...
4765    Power Merchant Pro Badge
4766    Power Merchant Pro Badge
4767    Power Merchant Pro Badge
4768    Power Merchant Pro Badge
4769    Power Merchant Pro Badge
Name: badges, Length: 4770, dtype: object,0              Fashion Pria
1              Fashion Pria
2              Fashion Pria
3              Fashion Pria
4              Fashion Pria
               ...
4765    Fashion Anak & Bayi
4766    Fashion Anak & Bayi
4767    Fashion Anak & Bayi
4768    Fashion Anak & Bayi
4769               Olahraga
Name: categoryName, Length: 4770, dtype: object,0       191
1        95
2       387
3        42
4       165
       ...
4765      2
4766      2
4767      4
4768      0
4769      0
Name: countReview, Length: 4770, dtype: int64,0       50
1       53
2        0
3        0
4       15
        ..
4765    25
4766     0
4767     0
4768     0
4769     0
Name: discountPercentage, Length: 4770, dtype: int64,0        5000.0
1        7900.0
2        2700.0
3        4300.0
4       11100.0
         ...
4765    10600.0
4766     5000.0
4767     5000.0
4768     2500.0
4769     1000.0
Name: sold, Length: 4770, dtype: float64,0        359800.0
1       1699000.0
2             0.0
3             0.0
4        329000.0
          ...
4765     142600.0
4766          0.0
4767          0.0
4768          0.0
4769          0.0
Name: originalPrice, Length: 4770, dtype: float64,0       179900.0
1       798000.0
2       139800.0
3       215000.0
4       279650.0
          ...
4765    106950.0
4766     38000.0
4767    100000.0
4768    250000.0
4769    165000.0
Name: price, Length: 4770, dtype: float64,0       4.8
1       5.0
2       4.9
3       4.9
4       4.9
       ...
4765    5.0
4766    5.0
4767    4.8
4768    0.0
4769    0.0
Name: ratingAverage, Length: 4770, dtype: float64,0        6673471
1        7098187
2         533833
3         533833
4        4232765
          ...
4765      172107
4766    10242078
4767    11033627
4768     2319135
4769     8747862
Name: shopShopId, Length: 4770, dtype: int64,0           Kab. Klaten
1       Jakarta Selatan
2         Jakarta Barat
3         Jakarta Barat
4                Serang
             ...
4765      Jakarta Barat
4766     Kab. Tangerang
4767    Jakarta Selatan
4768      Jakarta Barat
4769     Kab. Tangerang
Name: shopCity, Length: 4770, dtype: object,0        True
1       False
2       False
3       False
4        True
        ...
4765    False
4766    False
4767    False
4768    False
4769    False
Name: shopIsOfficial, Length: 4770, dtype: bool,0        True
1        True
2        True
3        True
4        True
        ...
4765     True
4766     True
4767     True
4768     True
4769    False
Name: shopIsPowerBadge, Length: 4770, dtype: bool
(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge
3       Power Merchant Pro Badge
4                 Official Store
                  ...
4765    Power Merchant Pro Badge
4766    Power Merchant Pro Badge
4767    Power Merchant Pro Badge
4768    Power Merchant Pro Badge
4769    Power Merchant Pro Badge
Name: badges, Length: 4770, dtype: object,0              Fashion Pria
1              Fashion Pria
2              Fashion Pria
3              Fashion Pria
4              Fashion Pria
               ...
4765    Fashion Anak & Bayi
4766    Fashion Anak & Bayi
4767    Fashion Anak & Bayi
4768    Fashion Anak & Bayi
4769               Olahraga
Name: categoryName, Length: 4770, dtype: object,0       191
1        95
2       387
3        42
4       165
       ...
4765      2
4766      2
4767      4
4768      0
4769      0
Name: countReview, Length: 4770, dtype: int64,0       50
1       53
2        0
3        0
4       15
        ..
4765    25
4766     0
4767     0
4768     0
4769     0
Name: discountPercentage, Length: 4770, dtype: int64,0        5000.0
1        7900.0
2        2700.0
3        4300.0
4       11100.0
         ...
4765    10600.0
4766     5000.0
4767     5000.0
4768     2500.0
4769     1000.0
Name: sold, Length: 4770, dtype: float64,0        359800.0
1       1699000.0
2             0.0
3             0.0
4        329000.0
          ...
4765     142600.0
4766          0.0
4767          0.0
4768          0.0
4769          0.0
Name: originalPrice, Length: 4770, dtype: float64,0       179900.0
1       798000.0
2       139800.0
3       215000.0
4       279650.0
          ...
4765    106950.0
4766     38000.0
4767    100000.0
4768    250000.0
4769    165000.0
Name: price, Length: 4770, dtype: float64,0       4.8
1       5.0
2       4.9
3       4.9
4       4.9
       ...
4765    5.0
4766    5.0
4767    4.8
4768    0.0
4769    0.0
Name: ratingAverage, Length: 4770, dtype: float64,0        6673471
1        7098187
2         533833
3         533833
4        4232765
          ...
4765      172107
4766    10242078
4767    11033627
4768     2319135
4769     8747862
Name: shopShopId, Length: 4770, dtype: int64,0           Kab. Klaten
1       Jakarta Selatan
2         Jakarta Barat
3         Jakarta Barat
4                Serang
             ...
4765      Jakarta Barat
4766     Kab. Tangerang
4767    Jakarta Selatan
4768      Jakarta Barat
4769     Kab. Tangerang
Name: shopCity, Length: 4770, dtype: object,0        True
1       False
2       False
3       False
4        True
        ...
4765    False
4766    False
4767    False
4768    False
4769    False
Name: shopIsOfficial, Length: 4770, dtype: bool,0        True
1        True
2        True
3        True
4        True
        ...
4765     True
4766     True
4767     True
4768     True
4769    False
Name: shopIsPowerBadge, Length: 4770, dtype: bool
(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge
3       Power Merchant Pro Badge
4                 Official Store
                  ...
4765    Power Merchant Pro Badge
4766    Power Merchant Pro Badge
4767    Power Merchant Pro Badge
4768    Power Merchant Pro Badge
4769    Power Merchant Pro Badge
Name: badges, Length: 4770, dtype: object,0              Fashion Pria
1              Fashion Pria
2              Fashion Pria
3              Fashion Pria
4              Fashion Pria
               ...
4765    Fashion Anak & Bayi
4766    Fashion Anak & Bayi
4767    Fashion Anak & Bayi
4768    Fashion Anak & Bayi
4769               Olahraga
Name: categoryName, Length: 4770, dtype: object,0       191
1        95
2       387
3        42
4       165
       ...
4765      2
4766      2
4767      4
4768      0
4769      0
Name: countReview, Length: 4770, dtype: int64,0       50
1       53
2        0
3        0
4       15
        ..
4765    25
4766     0
4767     0
4768     0
4769     0
Name: discountPercentage, Length: 4770, dtype: int64,0        5000.0
1        7900.0
2        2700.0
3        4300.0
4       11100.0
         ...
4765    10600.0
4766     5000.0
4767     5000.0
4768     2500.0
4769     1000.0
Name: sold, Length: 4770, dtype: float64,0        359800.0
1       1699000.0
2             0.0
3             0.0
4        329000.0
          ...
4765     142600.0
4766          0.0
4767          0.0
4768          0.0
4769          0.0
Name: originalPrice, Length: 4770, dtype: float64,0       179900.0
1       798000.0
2       139800.0
3       215000.0
4       279650.0
          ...
4765    106950.0
4766     38000.0
4767    100000.0
4768    250000.0
4769    165000.0
Name: price, Length: 4770, dtype: float64,0       4.8
1       5.0
2       4.9
3       4.9
4       4.9
       ...
4765    5.0
4766    5.0
4767    4.8
4768    0.0
4769    0.0
Name: ratingAverage, Length: 4770, dtype: float64,0        6673471
1        7098187
2         533833
3         533833
4        4232765
          ...
4765      172107
4766    10242078
4767    11033627
4768     2319135
4769     8747862
Name: shopShopId, Length: 4770, dtype: int64,0           Kab. Klaten
1       Jakarta Selatan
2         Jakarta Barat
3         Jakarta Barat
4                Serang
             ...
4765      Jakarta Barat
4766     Kab. Tangerang
4767    Jakarta Selatan
4768      Jakarta Barat
4769     Kab. Tangerang
Name: shopCity, Length: 4770, dtype: object,0        True
1       False
2       False
3       False
4        True
        ...
4765    False
4766    False
4767    False
4768    False
4769    False
Name: shopIsOfficial, Length: 4770, dtype: bool,0        True
1        True
2        True
3        True
4        True
        ...
4765     True
4766     True
4767     True
4768     True
4769    False
Name: shopIsPowerBadge, Length: 4770, dtype: bool
(0       11718663582
1        7320840825
2        1997117378
3        2005697120
4        7033293128
           ...
4765    12438817710
4766     7822613028
4767     1757163480
4768     9535706755
4769      897316005
Name: id, Length: 4770, dtype: int64,0       Aerostreet 37-44 Brooklyn Putih Putih Abu Muda...
1                                 Sepatu Compass Velocity
2       Sepatu Chef AP CHEF Hitam - Sepatu Dapur Anti ...
3          Sepatu Boots AP MEDIC Putih - Sepatu APD Medis
4       SEPATU SNEAKERS ORTUSEIGHT 100% ORIGINAL HARVA...
                              ...
4765    Sepatu Pesta Anak Perempuan 21-30 FS222 FAZkid...
4766    Sepatu Wakai Anak-anak Slip On Casual Motif Hi...
4767    Sepatu anak converse all star classic hi grade...
4768    Sepatu Adidas Original Anak Bekas Second Preloved
4769         Sepatu anak taekwondo terbaru fans Vulcan jr
Name: name, Length: 4770, dtype: object,0                 Official Store
1       Power Merchant Pro Badge
2       Power Merchant Pro Badge

In [33]:
# for i in df['id']:
#     print(f"ise  {i} ")




# for i in df.columns:
#     print(f"print(df['{i}'].dtypes)")

In [99]:
# Buat string SQL
import re
sql_values = ""
for index, row in df.iterrows():
    values = "(" + ",".join([str(val) if isinstance(val, (int, float, bool)) else f"'{val}'" for val in row.values]) + ")"
    sql_values += values + ",\n"

# Hapus koma terakhir dan tambahkan titik koma
sql_values = sql_values.rstrip(',\n') + ";"

# Tampilkan string SQL
print(f"INSERT INTO data_penjualan (id, name, badges, categoryName, countReview, discountPercentage, sold, originalPrice, price, ratingAverage, shopShopId, shopName, shopCity, shopIsOfficial, shopIsPowerBadge) VALUES \n{sql_values}")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1551017502.py, line 12)

In [35]:
# print(df['id'].dtypes)
# print(df['name'].dtypes)
# print(df['badges'].dtypes)
# print(df['categoryName'].dtypes)
# print(df['countReview'].dtypes)
# print(df['discountPercentage'].dtypes)
# print(df['sold'].dtypes)
# print(df['originalPrice'].dtypes)
# print(df['price'].dtypes)
# print(df['ratingAverage'].dtypes)
# print(df['shopShopId'].dtypes)
# print(df['shopName'].dtypes)
# print(df['shopCity'].dtypes)
# print(df['shopIsOfficial'].dtypes)
# print(df['shopIsPowerBadge'].dtypes)

In [36]:
# df_final.to_csv('data/penjualan_sepatu_1.csv', index=False)

In [37]:
# df = df_final.to_json(orient='records')

# with open('data/penjualan_sepatu_1.json', 'w') as f:
#     f.write(df)